{% extends 'alumno_base.html' %}
{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <h3 class="well well-small">
                Cuestionario {{ cuestionario.nombre }}</h3>

            <div class="alert alert-info span11 animated flash">
                <strong>Instrucciones</strong>
                <p>{{ cuestionario.instrucciones }}</p>
            </div>
        </div>

        <form action="/cuestionario/guardar/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id_cuestionario"
                   value="{{ cuestionario.id }}">
            <table class="table table-bordered table-hover table-striped">
                <thead class="well">
                <tr>
                    <th>Nro.</th>
                    <th>Pregunta</th>
                    {% for alternativa in alternativas %}
                        <th>{{ alternativa.alternativa }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for pregunta in preguntas %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            {{ pregunta }}
                        </td>
                        {% for alternativa in alternativas %}
                            <td>
                                <input type="radio" name="{{ pregunta.id }}"
                                       value="{{ alternativa.valor }}" required="True">
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-success" type="submit">
                <i class="icon-ok-circle"></i>
                <strong>Enviar respuestas</strong>
            </button>
        </form>
    </div>
    </div>
{% endblock %}