{% extends 'cuestionario_base.html' %}
{% load chartit %}
{% block body %}
    <div class="row-fluid">
        <table class="table table-bordered table-condensed span5">
            <tr>
                <th>Cuestionario</th>
                <td> {{ cuestionario_llena.cuestionario }}</td>
            </tr>
            <tr>
                <th>Alumno</th>
                <td>{{ cuestionario_llena.alumno.codigo }} -
                    {{ cuestionario_llena.alumno.apellido_paterno }}
                    {{ cuestionario_llena.alumno.apellido_materno }},
                    {{ cuestionario_llena.alumno.nombres }}
                </td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ cuestionario_llena.fecha }}</td>
            </tr>
        </table>
    </div>
    <div class="row-fluid">
        <div class="span5">
            <h3>Resultados</h3>

            <div class="alert alert-info animated shake">
                La tendencia es aquella en la que obtuvo mayor puntaje.
            </div>
            <table class="table table-bordered table-condensed table-hover">
                {% for resultado in resultados %}
                    <tr>
                        <th>{{ resultado.categoria }}</th>
                        <td>{{ resultado.cantidad }}</td>
                        <td><a href="/tutor/{{ resultado.categoria }}/"
                               target="_blank"> ver </a></td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                Enviar resultados a mi correo electrónico:
            </div>
            <form action="/cuestionario/resultado/{{ cuestionario_llena.cuestionario_id }}/"
                  method="POST" class="form-inline input-append">
                {% csrf_token %}
                <input type="email" required name="email"
                       id="appendedInputButton"
                       value="{{ cuestionario_llena.alumno.correo }}">
                <button type="submit" class="btn btn-info">
                    <i class="icon-mail-forward"></i>
                    Enviar
                </button>
            </form>
            {% if mensaje %}
                <div class="alert alert-info">
                    {{ mensaje }}
                </div>
            {% endif %}
            {% if mensaje_err %}
                <div class="alert alert-danger animated shake">
                    {{ mensaje_err }}
                </div>
            {% endif %}
        </div>
        <div class="span7">
            <h3>Diagrama</h3>

            <div id='grafico_columna'></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/static/js/highcharts/highcharts.js"></script>
    <script src="/static/js/highcharts/modules/exporting.js"></script>
    {{ grafico_columna|load_charts:"grafico_columna" }}
{% endblock %}