{% extends 'alumno_base.html' %}
{% block body %}
    <div class="container-fluid">
        {% if cuestionarios %}
            <h3>Seleccione cuestionario a llenar:</h3>
            <ul>
                {% for cuestionario in cuestionarios %}
                    <li class="cuestionario">
                        <a href="{{ cuestionario.id }}">{{ cuestionario.nombre }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>No hay cuestionarios disponibles en este momento</h3>
        {% endif %}
    </div>
{% endblock %}