{% block subject %}
    {{ cuestionario_llena.alumno.nombres }}, los resultados de tu cuestionario
{% endblock %}

{% block html %}
<!DOCTYPE HTML>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css"
          rel="stylesheet">
</head>
<body>
<div class="row-fluid">
    <table class="table table-bordered table-condensed span5">
        <tr>
            <th>Cuestionario</th>
            <td> {{ cuestionario_llena.cuestionario }}</td>
        </tr>
        <tr>
            <th>Alumno</th>
            <td>{{ cuestionario_llena.alumno.codigo }} -
                {{ cuestionario_llena.alumno.apellido_paterno }}
                {{ cuestionario_llena.alumno.apellido_materno }},
                {{ cuestionario_llena.alumno.nombres }}
            </td>
        </tr>
        <tr>
            <th>Fecha</th>
            <td>{{ cuestionario_llena.fecha }}</td>
        </tr>
    </table>
</div>
<div class="row-fluid">
    <h3>Resultados</h3>
    <table class="table table-bordered table-condensed table-hover">
        {% for resultado in resultados %}
            <tr>
                <th>{{ resultado.categoria }}</th>
                <td>{{ resultado.cantidad }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<p></p>

<div class="row-fluid">
    <h4>
        <a href="http://ciaprof.cinthyaroxana.com/cuestionario/resultado/{{ cuestionario_llena.cuestionario_id }}/">
            Clic aquí</a> para ver el resultado en su navegador.
    </h4>
</div>
</body>
</html>
{% endblock %}