<!DOCTYPE HTML>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta content="Cinthya Roxana Huacac Caballero" name="author">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#    <link rel="stylesheet" href="/static/css/estilos.css">#}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet"
          media="screen">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet"
          media="screen">
    <link rel="stylesheet" href="/static/css/estilos-login.css">
    <link href="/static/css/animate.min.css" rel="stylesheet" media="screen">
    <title>{% block title %}PIPO - Sistema de cuestionarios en
        linea{% endblock %}</title>
</head>
<body id="contenedor-user" class="animated fadeIn">
{% block body %}{% endblock %}
<script src="/static/js/jquery-1.8.3.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>