{% extends 'alumno_base.html' %}
{% block body %}
    <div class="container-fluid">
        <h4 class="well well-small">Editar datos personales</h4>
        <a href="passwd/">Cambiar contraseña</a>
        <br><br>
        <form id="frm_alumno">{% csrf_token %}
            <table>
                {{ alumno_form }}
            </table>
            {% if mensaje %}
                <div class="well alert alert-success animated bounce">
                    {{ mensaje }}
                </div>
            {% endif %}
            {% if alumno_form.errors %}
                <div class="well alert alert-error animated shake">
                    {{ alumno_form.errors }}
                </div>
            {% endif %}
            <button type="submit" class="btn btn-success"
                    form="frm_alumno" formaction="/alumno/perfil/"
                    formmethod="POST">
                <i class="icon-save"></i> Guardar datos
            </button>
        </form>
    </div>
{% endblock %}