{% extends plantilla %}
{% block body %}
    <div class="container-fluid">
        <h3 class="well well-small">Cambiar contraseña</h3>

        <form id="frm_passwd" class="span6">{% csrf_token %}
            <table>
                <tr>
                    <th>Contraseña anterior:</th>
                    <td><input type="password" name="passwd_ant"></td>
                </tr>
                <tr>
                    <th>Contraseña nueva:</th>
                    <td><input type="password" name="passwd_nueva1"></td>
                </tr>
                <tr>
                    <th>Confirme contraseña nueva:</th>
                    <td><input type="password" name="passwd_nueva2"></td>
                </tr>
            </table>
            {% if mensaje_passwd_er %}
                <div class="alert alert-danger animated shake">
                    {{ mensaje_passwd_er }}
                </div>
            {% endif %}
            {% if mensaje_passwd_ok %}
                <div class="alert alert-success animated bounce">
                    {{ mensaje_passwd_ok }}
                    <a href="/">Haga clic aquí para continuar</a>
                </div>
            {% endif %}
            <input type="hidden" name="user" value="{{ username }}"/>
            <button class="btn btn-info"
                    type="submit" class="btn btn-success"
                    form="frm_passwd" formaction="."
                    formmethod="POST">
                Guardar contraseña
            </button>
        </form>
    </div>
{% endblock %}