<!DOCTYPE HTML>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta content="Cinthya Roxana Huacac Caballero" name="author">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/estilos.css" rel="stylesheet" media="screen">
    <link href="/static/css/impress.css" rel="stylesheet" media="screen">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet"
          media="screen">
    <title>{% block titulo %}Tips de personalidad{% endblock %}</title>
</head>

<body class="impress-not-supported">
<div class="fallback-message">
    <p>Su navegador no soporta las animaciones de esta presentación, por lo que
        se mostrará el contenido básico</p>
</div>
{% block body %}{% endblock %}
<div class="hint">
    <p>Use la tecla espaciadora, o los cursores para navegar.</p>
</div>
<script>
    if ("ontouchstart" in document.documentElement) {
        document.querySelector(".hint").innerHTML = "<p>Pulse a la izquierda o derecha para navegar</p>";
    }
</script>
<script src="/static/js/impress.js"></script>
<script>impress().init();</script>
</body>
</html>
