{% extends 'diapos.html' %}
{% block titulo %}
    Personalidad - Reflexivo
{% endblock %}
{% block body %}
    <div id="impress">
        <div id="Reflexivos" class="step slide" data-x="0" data-y="0">
            <q>Reflexivos</q>

            <p>guía del docente.</p>
            <img src="/static/img/reflexivo.jpg" alt="Reflexivo"/>

            <h5 class="alert alert-info">Utilize las teclas direccionales para
                desplazarse</h5>
        </div>
        <div id="Reflexivos1" class="step slide" data-x="1500" data-y="300">
            Los alumnos reflexivos tienden a adoptar la postura de un observador
            que analiza sus experiencias desde muchas perspectivas distintas.
            Recogen datos y los analizan detalladamente antes de llegar a una
            conclusión. Para ellos lo más importante es esa recogida de datos y
            su análisis concienzudo, así que procuran posponer las conclusiones
            todo lo que pueden. Son precavidos y analizan todas las
            implicaciones de cualquier acción antes de ponerse en movimiento. En
            las reuniones observan y escuchan antes de hablar procurando pasar
            desapercibidos. La pregunta que quieren responder con el aprendizaje
            es <strong>¿por qué?</strong>
        </div>
        <div id="Reflexivos2" class="step slide" data-x="1900" data-y="1500">
            <strong>TÉCNICAS</strong>
            <ul>

                <li>Se basan en sus propios pensamientos y sentimientos, para
                    formar sus opiniones actuar o no.
                </li>
                <li>Requieren materiales con preguntas que despierten su interés
                    y provoque su curiosidad
                </li>
                <li>Discuta un tema desde diferentes tipos de roles.</li>
                <li>Para promover la empatía en el grupo de alumnos en
                    materias terminales de carreras profesionales, en cursos
                    donde se puede hacer un trabajo interdisciplinario, deje
                    proyectos como tareas
                </li>
                <li>Hagales trabajar sin presiones ni plazos.</li>
                <li>Les gusta reunir información.</li>

            </ul>
        </div>

        <div id="Reflexivos3" class="step slide" data-x="2000" data-y="-1500">
            <strong>TÉCNICAS</strong>
            <ul>
                <li>Cree tareas donde tengan que hacer análisis
                    detallados.
                </li>
                <li>Use videos para su enseñanza.</li>
                <li>Fomente foros de discusión.</li>
                <li>Hágales elaborar mapas conceptuales.</li>
                <li>Maneje paquetes estadísticos</li>
                <li>Utilize Blog, Wikis y Google Docs.</li>
                <li>No les gusta actuar de lideres ni ocupar el primer
                    plano.
                </li>
            </ul>
        </div>

    </div>
{% endblock %}