* {
    margin: 0;
    padding: 0;
}

html, body, .container {
    height: 100%;
}

/*body {*/
/*background-image: url(/static/img/background.png);*/
/*}*/

#formulario-login {
    background: #f1f1f1;
    border: 1px solid #C4C6CA;
    border-radius: 4px;
    margin-top: 20%;
    margin-bottom: 10%;
    padding: 25px 0 0;
    text-align: center;
    text-shadow: 0 1px 0 white;
    max-width: 400px;
    box-shadow: 0px 0px 50px rgba(50, 50, 50, 0.1);
}

#formulario-login form input[type="text"], #formulario-login form input[type="password"] {
    border-radius: 3px;
    background: #FFFFFF url(/static/img/sprites.png) no-repeat;
    border: 1px solid hsl(0, 0%, 78%);
    font: 13px Helvetica, Arial, sans-serif;
    margin: 0 0 10px;
    padding: 15px 10px 15px 40px;
    width: 80%;
}

#formulario-login #id_user {
    background-position: 10px 15px !important;
}

#formulario-login #id_password {
    background-position: 10px -48px !important;
}

#formulario-login h1 {
    color: #353535;
    font: bold 25px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 10px 0 30px;
}

.welcomeText {
    font-family: Helvetica;
    padding: 40px 40px 40px 40px;
}

.headerLogin {
    background: #e3e3e3;
    width: 100%;
    min-height: 60px;
    border-bottom: 2px solid #3b6ebc;
}

.ing-informatica {
    text-align: center;
    vertical-align: middle;
    padding-right: 10px;
}

.novisible {
    visibility: hidden;
}