* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
}

body{
    /*background-image: url(/static/img/background.png) !important;*/
    background-image: url(/static/img/backuser.png) !important;
}

.endless_page_current{
    padding: 5px;
    text-align: center !important;
    background-color: #f5f6f7;
    border-radius: 4px;
    margin: 2px;
    border: 1px solid;
}
.endless_page_link{
    padding: 5px;
    text-align: center !important;
    background-color: #edeeef;
    border-radius: 4px;
    border: 1px solid;
}
.myContent {
    margin-top: 60px;
    color: #545454;
}

.content-background {
    background-color: rgba(252, 252, 252, 0.86);
    /*width: 87%;*/
    margin-left: 2%;
    margin-right: 2%;
    padding: 5px;
    box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.68);
}

.text3d {
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

.titulo {
    position: relative;
    padding: 40px 40px 40px 40px;
    color: #ffffff;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
}

.big1-button {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    margin-top: 5px;
    vertical-align: middle;
    width: 95%;
}


.novisible {
    visibility: hidden;
}