{% extends 'docente_base.html' %}
{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="well well-small">Reporte por alumno</h3>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span1"></div>
            <div class="span6">
                <form class="form-search" method="POST" action=".">
                    {% csrf_token %}
                    <strong>Código o Apellido Paterno:</strong>

                    <div class="input-append">
                        <input type="search" class="search-query"
                               name="buscar_alumno" required>
                        <button type="submit" class="btn">
                            <i class="icon-search"></i> buscar
                        </button>
                    </div>
                </form>
            </div>
            <div class="span3"></div>
        </div>

        {% if alumnos %}
            <p></p>
            <div class="row-fluid">
                <div class="span12">
                    <table class="table table-bordered table-content table-hover">
                        <thead class="well">
                        <tr>
                            <th>#</th>
                            <th>Código</th>
                            <th>Nombres</th>
                            <th>Cuestionario</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for alumno in alumnos %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ alumno.codigo }}</td>
                                <td>{{ alumno.apellido_paterno }} {{ alumno.apellido_materno }}, {{ alumno.nombres }}</td>
                                <td>
                                    <form action="/docente/reporte/alumno/{{ alumno.codigo }}/"
                                          method="POST"
                                          class="form-inline">{% csrf_token %}
                                        {{ cuestionario_form.cuestionario }}
                                        <button class="btn btn-info">
                                            <i class="icon-search"></i> ver
                                        </button>
                                    </form>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        {% if mensaje_err %}
            <div class="alert alert-error animated shake">
                No se encontraron alumnos en la búsqueda
            </div>
        {% endif %}

    </div>
{% endblock %}