{% extends 'docente_base.html' %}
{% block body %}
    <div class="container-fluid">
        <h4 class="well well-small">Cursos que dicto</h4>
        {% if cursos %}
            <table class="table table-bordered table-hover table-condensed">
                <thead class="well">
                <tr>
                    <th>#</th>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Cantidad de alumnos</th>
                    <th>Cuestionario</th>
                </tr>
                </thead>
                {% for curso in cursos %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ curso.codigo }}</td>
                        <td>{{ curso.nombre }}</td>
                        <td>{{ curso.cantidad_alumnos }}</td>
                        <td>
                            <form action="/docente/reporte/curso/{{ curso.codigo }}/"
                                  method="POST"
                                  class="form-inline"> {% csrf_token %}
                                {{ cuestionario_form.cuestionario }}
                                <button class="btn btn-info">
                                    <i class="icon-eye-open"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div class="alert alert-error">
            No tiene cursos registrados
            </div>
        {% endif %}
    </div>
{% endblock %}