{% extends 'admin/base.html' %}
<!DOCTYPE HTML>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta content="Cinthya Roxana Huacac Caballero" name="author">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/estilos.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet"
          media="screen">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet"
          media="screen">
    <link href="/static/css/datepicker.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet" media="screen">
    <title>{% block title %}Administración Pipo{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
{% block navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="nav">
                <strong><a class="brand" href="/"><i class="icon-home"></i><b>
                    PIPO</b></a></strong>
            </div>
            <!-- Menu -->
            <ul class="nav">
                <li class="divider-vertical"></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Registrar
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a>Alumno</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/admin/alumno/agregar/">Nuevo</a>
                                </li>
                                <li>
                                    <a href="/admin/alumnos/importar/">Importar</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a>Docente</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/admin/docente/agregar/">Nuevo</a>
                                </li>
                                <li>
                                    <a href="/admin/docentes/importar/">Importar</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a>Curso</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/admin/curso/agregar/">Nuevo</a>
                                </li>
                                <li>
                                    <a href="/admin/cursos/importar/">Importar</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a>Matricula</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/admin/matricula/agregar/">Nuevo</a>
                                </li>
                                <li>
                                    <a href="/admin/matricula/importar/">Importar</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/admin/cuestionario/crear/">Cuestionario</a>
                        </li>
                    </ul>
                </li>
                <li class="divider-vertical"></li>
                <li class="dropdown"><a class="dropdown-toggle"
                                        data-toggle="dropdown" href="/#">
                    Listar
                    <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/alumnos/listar/">Alumnos</a></li>
                        <li><a href="/admin/docentes/listar/">Docentes</a></li>
                        <li><a href="/admin/cursos/listar/">Cursos</a></li>
                        <li><a href="/admin/matricula/listar/">Matrículas</a>
                        </li>
                        <li><a href="/admin/cuestionario/ver/">Cuestionarios</a>
                        </li>
                    </ul>
                </li>
                <li class="divider-vertical"></li>
            </ul>
            <!-- Fin Menu -->
            <ul class="nav pull-right">
                <li><a><i class="icon-user"></i>Editar Perfil</a></li>
                <li><a href="/logout/">Cerrar sesión
                    <i class="icon-off"></i></a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
<div class="myContent content-background animated fadeInUp">
    {% block body %}{% endblock %}
</div>

<script src="/static/js/jquery-1.8.3.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>