{% extends 'admin_base.html' %}
{% block body %}
    <div class="container-fluid">
        <h4 class="well well-small">Editar alternativa</h4>

        <form action="." method="POST">
            {% csrf_token %}
            <table>
                {{ alternativa_form }}
            </table>
            <div class="btn-group">
                <button type="submit" class="btn btn-success">
                    <i class="icon-save"></i> Guardar
                </button>
                <button class="btn btn-danger" onclick="goBack()">
                    <i class="icon-ban-circle"></i> Cancelar
                </button>
            </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        function goBack() {
            window.history.back()
        }
    </script>
{% endblock %}