{% extends 'admin_base.html' %}
{% load endless %}

{% block body %}
    {% paginate alumnos %}
    <div class="container-fluid">
        <h3 class="well well-small">Alumnos registrados en el sistema</h3>

        <div class="row-fluid">
            <div class="span12">
                <div class="span9">
                    <form class="form-search form-inline" action=".">
                        Buscar alumno:
                        <div class="input-append">
                            <input type="search" class="search-query"
                                   name="filtro"
                                   placeholder="Código o apellido paterno">
                            <button type="submit" class="btn btn-info"
                                    title="Buscar">
                                <i class="icon-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% if alumnos %}
            <table class="table table-bordered table-hover table-condensed table-striped">
                <thead class="well">
                <tr>
                    <th>Código</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Nombres</th>
                    <th>Sexo</th>
                    <th>Carrera</th>
                    <th>Correo</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for alumno in alumnos %}
                    <tr>
                        <td>{{ alumno.codigo }}</td>
                        <td>{{ alumno.apellido_paterno }}</td>
                        <td>{{ alumno.apellido_materno }}</td>
                        <td>{{ alumno.nombres }}</td>
                        <td>{{ alumno.get_sexo_display }}</td>
                        <td>{{ alumno.carrera }}</td>
                        <td>{{ alumno.correo }}</td>
                        <td>
                            <form id="form_eliminar_alumno{{ alumno.codigo }}"
                                  class="form-inline">
                                {% csrf_token %}
                                <input type="hidden" name="codigo_alumno"
                                       value="{{ alumno.codigo }}"/>

                                <div class="btn-group">
                                    <a href="/admin/alumnos/editar/{{ alumno.codigo }}/"
                                       class="btn btn-mini btn-info">
                                        <i class="icon-edit"></i>
                                    </a>
                                    <button form="form_eliminar_alumno{{ alumno.codigo }}"
                                            formaction="/admin/alumnos/eliminar/"
                                            formmethod="POST"
                                            class="btn btn-mini btn-danger">
                                        <i class="icon-remove"></i>
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination pagination-centered">
                {% show_pages %}
            </div>
        {% else %}
            <div class="alert alert-info">
                No se encontraron alumnos.
            </div>
        {% endif %}
    </div>
{% endblock %}