{% extends 'admin_base.html' %}
{% block title %}Listado de cuestionarios{% endblock %}
{% block body %}
    <div class="container-fluid">
        <h3 class="well">Cuestionarios registrados en el sistema</h3>
        {% if cuestionarios %}
            <table class="table table-bordered table-hover table-condensed">
                <thead class="well">
                <tr>
                    <th>Nombre</th>
                    <th>Número de categorías</th>
                    <th>Cantidad de preguntas</th>
                    <th></th>
                </tr>
                </thead>
                {% for cuestionario in cuestionarios %}
                    <tr>
                        <td>{{ cuestionario }}</td>
                        <td>{{ cuestionario.numero_categorias }}</td>
                        <td>{{ cuestionario.cantidad_preguntas }}</td>
                        <td>
                            <a href="/admin/cuestionario/crear/{{ cuestionario.id }}/"
                               class="btn btn-mini btn-info">
                                <i class="icon-edit"> </i> Editar</a>
                            <a href="/admin/cuestionario/eliminar/{{ cuestionario.id }}/"
                               class="btn btn-mini btn-danger">
                                <i class="icon-remove"> </i> Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div class="alert alert-error">
                <h4>No hay cuestionarios registrados</h4>
            </div>
        {% endif %}
    </div>
{% endblock %}