{% extends 'admin_base.html' %}
{% block body %}
    <div class="container-fluid">
    <h3 class="well well-small">Cuestionario</h3>

    <div class="row-fluid">
        <div class="span6">
            <!-- Formulario de cuestionario -->
            <form name="frm_cuestionario" id="frm_cuestionario">{% csrf_token %}
                <input type="hidden" name="id_cuestionario"
                       value="{{ cuestionario.id }}">
                <table class="table table-bordered table-hover">
                    <thead style="background: #d0d0d0">
                    <tr>
                        <th colspan="3">Datos de la cuestionario</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ cuestionario_form }}
                    <tr>
                        <td colspan="2">
                            {% if mensaje_enc_err %}
                                <div class="alert alert-error">
                                    {{ mensaje_enc_err }}
                                </div>
                            {% endif %}
                            {% if mensaje %}
                                <div class="alert alert-success">
                                    {{ mensaje }}
                                </div>
                            {% endif %}
                            <button form="frm_cuestionario" formaction="."
                                    formmethod="POST"
                                    class="btn btn-info">
                                <i class="icon-save"> </i> Guardar Cuestionario
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        {% if cuestionario %}
            <div class="span6">
                <!-- Categorías -->
                <table class="table table-bordered table-hover">
                    <thead style="background: #d0d0d0">
                    <tr>
                        <th colspan="3">Categorías</th>
                    </tr>
                    <tr>
                        <td>Nro</td>
                        <td>Nombre</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for categoria in categorias %}
                        <tr>
                            <form id="form_editar_categoria{{ categoria.id }}">
                                {% csrf_token %}
                                <input type="hidden" name="id_cuestionario"
                                       value="{{ cuestionario.id }}">
                                <td><input type="hidden" name="id_categoria"
                                           value="{{ categoria.id }}">
                                    {{ forloop.counter }} </td>
                                <td>{{ categoria.nombre }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="/admin/cuestionario/categoria/editar/{{ cuestionario.id }}/{{ categoria.id }}/"
                                           class="btn btn-mini btn-info"
                                           title="Editar categoría">
                                            <i class="icon-edit"></i>
                                        </a>
                                        <button form="form_editar_categoria{{ categoria.id }}"
                                                formaction="/admin/cuestionario/categoria/eliminar/"
                                                formmethod="POST"
                                                class="btn btn-mini btn-danger"
                                                title="Eliminar categoría">
                                            <i class="icon-remove"></i>
                                        </button>
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn-mini"
                                           title="Administrar Diapositivas"
                                           href="/admin/cuestionario/categoria/{{ categoria.id }}/diapos/">
                                            <i class="icon-screenshot"></i>
                                        </a>
                                        <a class="btn btn-mini"
                                           title="Administrar consejos"
                                           href="/admin/cuestionario/categoria/{{ categoria.id }}/consejos/">
                                            <i class="icon-bell"></i>
                                        </a>
                                    </div>
                                </td>
                            </form>
                        </tr>
                    {% endfor %}
                    <tr>
                        <form id="form_agregar_categoria">{% csrf_token %}
                            <input type="hidden" name="id_cuestionario"
                                   value="{{ cuestionario.id }}">
                            <td></td>
                            <td>
                                {{ categoria_form.nombre }}
                            </td>
                            <td>
                                <button form="form_agregar_categoria"
                                        formaction="/admin/cuestionario/categoria/agregar/"
                                        formmethod="POST"
                                        class="btn btn-mini btn-success">
                                    Agregar
                                </button>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>

            </div>
        {% endif %}
    </div>
    {% if cuestionario %}
        <div class="row-fluid">
            <div class="span7">
                <!-- Preguntas -->
                <table class="table table-bordered table-hover table-striped">
                    <thead class="well">
                    <tr style="background: #d0d0d0">
                        <th colspan="4">Preguntas</th>
                    </tr>
                    <tr>
                        <th>Nro</th>
                        <th>Pregunta</th>
                        <th>Categoría</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pregunta in preguntas %}
                        <tr>
                            <form id="form_pregunta{{ pregunta.id }}">{% csrf_token %}
                                <input type="hidden" name="id_pregunta"
                                       value="{{ pregunta.id }}">
                                <input type="hidden" name="id_cuestionario"
                                       value="{{ cuestionario.id }}">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ pregunta.pregunta }}</td>
                                <td>{{ pregunta.categoria }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="/admin/cuestionario/{{ cuestionario.id }}/pregunta/editar/{{ pregunta.id }}/"
                                           class="btn btn-info btn-mini"
                                           title="Editar pregunta">
                                            <i class="icon-edit"></i>
                                        </a>
                                        <button form="form_pregunta{{ pregunta.id }}"
                                                formaction="/admin/cuestionario/pregunta/eliminar/"
                                                formmethod="POST"
                                                class="btn btn-mini btn-danger"
                                                title="Eliminar pregunta">
                                            <i class="icon-remove"></i>
                                        </button>
                                    </div>
                                </td>
                            </form>
                        </tr>
                    {% endfor %}
                    <tr>
                        <form id="form_pregunta_nueva">{% csrf_token %}
                            <input type="hidden" name="id_cuestionario"
                                   value="{{ cuestionario.id }}">
                            <td> --</td>
                            <td>{{ pregunta_form.pregunta }}</td>
                            <td>{{ pregunta_form.categoria }}</td>
                            <td colspan="3">
                                {{ pregunta_form.errors }}
                                <input type="hidden" name="id_cuestionario"
                                       value="{{ cuestionario.id }}">
                                <button form="form_pregunta_nueva"
                                        formaction="/admin/cuestionario/pregunta/agregar/"
                                        formmethod="POST"
                                        class="btn btn-mini btn-success"></i>
                                    Agregar
                                </button>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="span5">
                <!-- Alternativas -->
                <table class="table table-bordered table-hover">
                    <thead class="well">
                    <tr style="background: #d0d0d0">
                        <th colspan="4">Alternativas</th>
                    </tr>
                    <tr>
                        <th>Nro</th>
                        <th>Alternativa</th>
                        <th>Valor</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for alternativa in alternativas %}
                        <tr>
                            <form id="form_alternativa{{ alternativa.id }}">{% csrf_token %}
                                <input type="hidden" name="id_alternativa"
                                       value="{{ alternativa.id }}">
                                <input type="hidden" name="id_cuestionario"
                                       value="{{ cuestionario.id }}">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ alternativa.alternativa }}</td>
                                <td>{{ alternativa.valor }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="/admin/cuestionario/{{ cuestionario.id }}/alternativa/editar/{{ alternativa.id }}/"
                                           class="btn btn-info btn-mini"
                                           title="Editar alternativa">
                                            <i class="icon-edit"></i>
                                        </a>
                                        <button form="form_alternativa{{ alternativa.id }}"
                                                formaction="/admin/cuestionario/alternativa/eliminar/"
                                                formmethod="POST"
                                                class="btn btn-mini btn-danger"
                                                title="Eliminar alternativa">
                                            <i class="icon-remove"></i>
                                        </button>
                                    </div>
                                </td>
                            </form>
                        </tr>
                    {% endfor %}
                    <tr>
                        <form id="form_alternativa_nueva">{% csrf_token %}
                            <input type="hidden" name="id_cuestionario"
                                   value="{{ cuestionario.id }}">
                            <td> --</td>
                            <td>{{ alternativa_form.alternativa }}</td>
                            <td>{{ alternativa_form.valor }}</td>
                            <td colspan="3">
                                {{ alternativa_form.errors }}
                                <input type="hidden" name="id_cuestionario"
                                       value="{{ cuestionario.id }}">
                                <button form="form_alternativa_nueva"
                                        formaction="/admin/cuestionario/alternativa/agregar/"
                                        formmethod="POST"
                                        class="btn btn-mini btn-success">
                                    Agregar
                                </button>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="span5">
                <!-- Instrucciones -->
                <table class="table table-bordered table-hover">
                    <thead class="well">
                    <tr style="background: #d0d0d0">
                        <th colspan="4">Instrucciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <form action="instrucciones/"
                                  method="POST">{% csrf_token %}
                                <textarea rows="10" cols="54" class="span12"
                                          name="instrucciones">{{ cuestionario.instrucciones }}</textarea>
                                <button class="btn btn-success"
                                        type="submit">
                                    Guardar instrucciones
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $('#id_fecha_inicio').datepicker({
                format: 'dd/mm/yyyy'
            });
            $('#id_fecha_final').datepicker({
                format: 'dd/mm/yyyy'
            });
            // disabling dates
            var nowTemp = new Date();
            var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

            var checkin = $('#id_fecha_inicio').datepicker({
                onRender: function (date) {
                    return date.valueOf() < now.valueOf() ? 'disabled' : '';
                }
            }).on('changeDate',function (ev) {
                        if (ev.date.valueOf() > checkout.date.valueOf()) {
                            var newDate = new Date(ev.date)
                            newDate.setDate(newDate.getDate() + 1);
                            checkout.setValue(newDate);
                        }
                        checkin.hide();
                        $('#id_fecha_final')[0].focus();
                    }).data('datepicker');
            var checkout = $('#id_fecha_final').datepicker({
                onRender: function (date) {
                    return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
                }
            }).on('changeDate',function (ev) {
                        checkout.hide();
                    }).data('datepicker');
        });
    </script>
{% endblock %}