{% extends 'admin_base.html' %}
{% load endless %}

{% block body %}
    {% paginate cursos %}
    <div class="container-fluid">
        <h3 class="well well-small">Cursos registrados en el sistema</h3>

        <div class="row-fluid">
            <div class="span12">
                <div class="span9">
                    <form class="form-search form-inline"
                          action="/admin/cursos/listar/">
                        Buscar curso:
                        <div class="input-append">
                            <input type="search" class="search-query"
                                   name="filtro"
                                   placeholder="Código o nombre del curso">
                            <button type="submit" class="btn btn-info"
                                    title="Buscar">
                                <i class="icon-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% if cursos %}
            <table class="table table-bordered table-hover table-condensed">
                <thead class="well">
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for curso in cursos %}
                    <tr>
                        <td>{{ curso.codigo }}</td>
                        <td>{{ curso.nombre }}</td>
                        <td>
                            <form id="form_eliminar_curso{{ curso.codigo }}">
                                {% csrf_token %}
                                <input type="hidden" name="codigo_curso"
                                       value="{{ curso.codigo }}"/>

                                <div class="btn-group">
                                    <a href="/admin/cursos/editar/{{ curso.codigo }}/"
                                       class="btn btn-mini btn-info">
                                        <i class="icon-edit"></i>
                                    </a>
                                    <button form="form_eliminar_curso{{ curso.codigo }}"
                                            formaction="/admin/curso/eliminar/"
                                            formmethod="POST"
                                            class="btn btn-mini btn-danger">
                                        <i class="icon-remove"></i>
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <div class="pagination pagination-centered pagination-large">
                {% show_pages %}
            </div>
        {% else %}
            <div class="alert alert-info">
                No se encontraron cursos.
            </div>
        {% endif %}
    </div>
{% endblock %}