{% extends 'admin_base.html' %}
{% load dajaxice_templatetags %}
{% block body %}
    <div class="container-fluid">
        <h3 class="well well-small">Datos de docente</h3>

        <div class="row-fluid">
            <div class="span4">
                <form action="." method="POST">
                    {% csrf_token %}
                    <table>
                        {{ docente_form }}
                    </table>
                    {% if mensaje_ok %}
                        <div class="alert alert-success">
                            {{ mensaje_ok }}.
                            <a href="/admin/docentes/listar/">
                                (volver a la lista)
                            </a>
                        </div>
                    {% endif %}
                    {% if mensaje_err %}
                        <div class="alert alert-error">
                            {{ mensaje_err }}
                        </div>
                    {% endif %}
                    <div class="btn-group">
                        <button class="btn btn-success" type="submit">
                            <i class="icon-save"></i> Guardar
                        </button>
                        <a href="/admin/docente/agregar/" class="btn btn-info">
                            <i class="icon-file"></i> Nuevo
                        </a>
                    </div>
                </form>
            </div>
            <div class="span4 novisible alert alert-error" id="docenteexiste">
                <i class="icon-remove-circle icon-2x"></i>
                Ya existe docente con ese código.
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% dajaxice_js_import %}
    <script src="/static/dajax/jquery.dajax.core.js"></script>
    <script src="/static/js/pipoadmin.js"></script>
{% endblock %}