{% extends 'admin_base.html' %}
{% load endless %}

{% block body %}
    {% paginate matriculas %}
    <div class="container-fluid">
        <h3 class="well well-small">Matriculas registradas en el sistema</h3>

        <div class="row-fluid">
            <div class="span12">
                <div class="span9">
                    <form class="form-search form-inline" action=".">
                        Buscar curso: <br>
                        {{ semestres_form }}
                        <div class="input-append">
                            <input type="search" class="search-query"
                                   name="curso"
                                   placeholder="Código o nombre del curso">
                            <button type="submit" class="btn btn-info"
                                    title="Buscar">
                                <i class="icon-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% if matriculas %}
            <table class="table table-bordered table-hover table-condensed">
                <thead class="well">
                <tr>
                    <th>Cod. Curso</th>
                    <th>Nombre Curso</th>
                    <th>Semestre</th>
                    <th>Matriculados</th>
                    <th>Docente</th>
                    <th>Reporte cuestionarios</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for matricula in matriculas %}
                    <tr>
                        <td>
                            <a href="/admin/matricula/detalle/{{ matricula.semestre }}/{{ matricula.curso }}/"
                               class="btn btn-mini btn-info">
                                <i class="icon-list"></i>
                            </a> {{ matricula.curso }}
                        </td>
                        <td>{{ matricula.curso__nombre }}</td>
                        <td>{{ matricula.semestre }}</td>
                        <td>{{ matricula.alumno__count }}</td>
                        <td>{{ matricula.docente__apellido_paterno }} {{ matricula.docente__apellido_materno }}, {{ matricula.docente__nombres }}</td>
                        <td>
                            <form action="/admin/reporte/curso/{{ matricula.curso }}/"
                                  method="POST"
                                  class="form-inline"> {% csrf_token %}
                                {{ cuestionario_form.cuestionario }}
                                <button class="btn btn-info">
                                    <i class="icon-eye-open"></i>
                                </button>
                            </form>
                        </td>
                        <td>
                            <form id="form_elm_mat{{ matricula.curso }}{{ matricula.semestre }}"
                                  class="form-inline"> {% csrf_token %}
                                <input type="hidden" value="{{ matricula.curso }}"
                                       name="matricula_codcurso"/>
                                <input type="hidden" value="{{ matricula.semestre }}"
                                       name="matricula_semestre"/>
                                <button form="form_elm_mat{{ matricula.curso }}{{ matricula.semestre }}"
                                        formaction="/admin/matricula/eliminar/"
                                        formmethod="POST"
                                        class="btn btn-mini btn-danger">
                                    <i class="icon-remove"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="pagination pagination-centered pagination-large">
                {% show_pages %}
            </div>
        {% else %}
            <div class="alert alert-info">
                No se encontraron cursos.
            </div>
        {% endif %}
    </div>
{% endblock %}