{% extends 'admin_base.html' %}
{% block body %}
    <h3 class="well well-small">Alumnos matriculados en {{ curso }}
        / {{ semestre }}</h3>
    <div class="row-fluid">
        <div class="span12">
            <table class="table table-bordered table-hover table-condensed">
                <thead class="well">
                <tr>
                    <th>Cod. Alumno</th>
                    <th>Alumno</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for matricula in matriculas %}
                    <tr>
                        <td>{{ matricula.alumno.codigo }}</td>
                        <td>
                            {{ matricula.alumno.apellido_paterno }}
                            {{ matricula.alumno.apellido_materno }},
                            {{ matricula.alumno.nombres }}
                        </td>
                        <td>
                            <form action="/admin/matricula/alumno/eliminar/"
                                  method="POST"
                                  class="form-inline">{% csrf_token %}
                                <input type="hidden" name="curso"
                                       value="{{ matricula.curso.codigo }}"/>
                                <input type="hidden" name="cod_alumno"
                                       value="{{ matricula.alumno.codigo }}"/>
                                <input type="hidden" name="semestre"
                                       value="{{ matricula.semestre }}"/>
                                <button class="btn btn-mini btn-danger"
                                        title="Retirar alumno del curso">
                                    <i class="icon-remove"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}